# Lists

In [1]:
a=[1, 4, 5, 7, 8, -2, 0, -1]
print(a[3])
print(a[5])

7
-2

In [3]:
a_sorted=a.copy()
print(a_sorted)

[1, 4, 5, 7, 8, -2, 0, -1]

In [4]:
a_sorted.sort()
print(a)
print(a_sorted)

[1, 4, 5, 7, 8, -2, 0, -1]
[-2, -1, 0, 1, 4, 5, 7, 8]

In [5]:
print(a_sorted[1:4])
print(a_sorted[2:7])

[-1, 0, 1]
[0, 1, 4, 5, 7]

In [10]:
del a_sorted[2:4]
print(a_sorted)

[-2, -1, 4, 5, 7, 8]

In [14]:
b=["Grapes", "Potatoes", "Tomatoes", "Orange", "Lemon", "Broccoli", "Carrot","Sausages"]
print(b)

['Grapes', 'Potatoes', 'Tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [15]:
b_sorted=b.copy()
print(b_sorted)

['Grapes', 'Potatoes', 'Tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [17]:
b_sorted.sort()
print(b_sorted)
print(b)

['Broccoli', 'Carrot', 'Grapes', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'Tomatoes']
['Grapes', 'Potatoes', 'Tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [20]:
c=a[1:4]+b[4:7]
print(c)

[4, 5, 7, 'Lemon', 'Broccoli', 'Carrot']

# Sets

In [21]:
a1=["Cookies", "Chocolate", 8, True, -3, -5, "Chocolate", 8, False, 8]
b1=[8, True, 10, 14, "Chocolate", "Milk", "Jelly", True, False, True]

In [22]:
set_a=set(a1)
set_b=set(b1)
print(set_a)
print(set_b)

{False, True, 'Cookies', 8, 'Chocolate', -5, -3}
{False, True, 8, 10, 'Milk', 14, 'Chocolate', 'Jelly'}

In [23]:
union_ab=set_a.union(set_b)
print(union_ab)

{False, True, 'Cookies', 8, 10, 'Milk', 14, 'Chocolate', 'Jelly', -5, -3}

In [24]:
intersection_ab=set_a.intersection(set_b)
print(intersection_ab)

{False, True, 'Chocolate', 8}

In [28]:
union_ab.add("Kit-Kat")
union_ab.add("Oreo")
print(union_ab)

{False, True, 'Cookies', 8, 10, 'Milk', 'Oreo', 14, 'Chocolate', 'Kit-Kat', 'Jelly', -5, -3}

In [29]:
new_set=union_ab or intersection_ab
print(new_set)

{False, True, 'Cookies', 8, 10, 'Milk', 'Oreo', 14, 'Chocolate', 'Kit-Kat', 'Jelly', -5, -3}

In [30]:
"Chocolate" in new_set

True

In [31]:
new_set.discard("Oreo")
print(new_set)

{False, True, 'Cookies', 8, 10, 'Milk', 14, 'Chocolate', 'Kit-Kat', 'Jelly', -5, -3}

# Tuples

In [6]:
t1=(1, True, "a", -2, "Anna")
print(t1)

(1, True, 'a', -2, 'Anna')

In [2]:
l1=list((1, True, "a", -2, "Anna"))
print(l1)

[1, True, 'a', -2, 'Anna']

In [4]:
l1.remove(True)
print(l1)

[True, 'a', -2, 'Anna']

In [7]:
t1=tuple(l1)
print(t1)

(True, 'a', -2, 'Anna')

In [8]:
t2=(1, 2, 3, 4, 5)

In [9]:
t3=(t1[0:2]+t2[0:3])
print(t3)

(True, 'a', 1, 2, 3)

In [10]:
print(t3[2])

1

In [17]:
t4=[(1,3,5), (8,9), ("Anna", "Bob", "Alice")]
print(t4[0][1])

3

# Dictionaries

In [2]:
market={"dairy":["yogurt", "cheese"], "fruits":["banana", "apple", "orange", "lemon", "apple", "banana", "banana"]}
print(market)

{'dairy': ['yogurt', 'cheese'], 'fruits': ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana']}

In [13]:
market["candies"]=["mars", "kinder", "twix"]
print(market)

{'dairy': ['yogurt', 'cheese'], 'fruits': {'apple', 'orange', 'lemon', 'banana'}, 'candies': ['mars', 'kinder', 'twix']}

In [18]:
market["fruits"].sort()
print(market["fruits"])

['apple', 'banana', 'lemon', 'orange']

In [17]:
market["fruits"]=list(set(market["fruits"]))
print(market["fruits"])

['apple', 'orange', 'lemon', 'banana']